body {
font-family: 'Open Sans', sans-serif;
font-size: 15px;
height: auto;
margin: 0;
padding: 0;
}

div, p, input, button, form, span, a, ul, li {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    
}

h1 {
    width: 600px;
}

p {
    line-height: 1.9em;
}

.container {
    width: 1170px;
    margin: 0 auto;
    
}

.header {
background: rgba(63, 8, 102, 1); 
background: -moz-linear-gradient(-45deg, rgba(63, 8, 102, 1), rgba(63, 8, 102, 1));
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(63, 8, 102, 1)), color-stop(100%, rgba(63, 8, 102, 1)));
background: -webkit-linear-gradient(-45deg, rgba(63, 8, 102, 1) 0%, rgba(63, 8, 102, 1) 100%);
background: -o-linear-gradient(-45deg, rgba(63, 8, 102, 1) 0%, rgba(63, 8, 102, 1) 100%);
background: -ms-linear-gradient(-45deg, rgba(63, 8, 102, 1) 0%, rgba(63, 8, 102, 1) 100%);
background: linear-gradient(135deg, rgba(63, 8, 102, 1) 0%, rgba(63, 8, 102, 1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4dbdfe', endColorstr='#3790d9', GradientType=1 );
padding-top: 70px;
width: 100vw;
height: 900px;
color: white;
}


.wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 105px;
    align-items: center;
}

.offer {
    width: 600px;
}

.tittle {
    font-family: 'Ubuntu', sans-serif;
    font-size: 32px;
    line-height: 1.5em;

}

.dream {
    font-size: 51px;
    line-height: 1.4em;
}

.intro {
    font-size: 16px;
    margin-bottom: 45px;
    width: 400px;
    margin-top: 20px;
}

.btn {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.4px;
    background: rgba(16, 184, 207, 1);
    color: rgba(255, 255, 255, 1);
    display: block;
    width: 215px;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s ease;
    border-radius: 10px;
}
.btn:hover {
    background:(rgba(17, 161, 181, 1));
}

.desktop {
    margin-right: 80px;
    width: 360px;
}

.input {
    background: #ffffff;
    padding-top: 13px;
    padding-bottom: 15px;
    margin-bottom: 25px;
    width: 305px;
    border-radius: 4px;
    border-style: solid;
    border-color: #999999;
    border-width: 1px;
    font-family: 'Ubuntu', sans-serif;
    padding-left: 24px;
}

.btn-form:hover {
    background: #ffff33;
    color: rgb(255, 255, 255);
}

.footer {
    background: rgba(63, 8, 102, 1);
    padding: 65px 0;
}

.credits {
    color: white;
    text-align: center;
    font-size: 14px;
}

.icon {
    justify-content: space-between;
    margin-top: 65px;
    align-items: center;
    padding-right: 18px;
    
}

.attent {
    margin-bottom: 25px;
}

.fut {
    margin-top: 180px;
}

.text {
    text-align: center;
}



/* 992px - 1200px */
@media screen and (max-width: 1200px) {
	.container {
		width: auto;
	}
    .desktop {
        width: 600px;
        margin-right: 0;
    }
    .wrapper {
        width: auto;
    }
    h1 {
        width: auto;
    }
    .header {
        width: 100vw;
        height: 175vh;
    }
    .icon {
        margin-left: 50px;
    }
}

/* 768px - 992px */
@media screen and (max-width: 992px) {
	.container {
		width: 720px;
	}
	.wrapper {
		flex-direction: column;
	}
	.offer {
		width: 100%;
	}
	.desktop {
		display: block;
	    width: 549px;
	    margin: 72px auto;
	}
	.future {
		flex-direction: column;
	}
	.plus-text {
		width: auto;
		margin-bottom: 30px;
	}
    .header {
        width: 100vw;
        height: 175vh;
    }
    .btn {
        margin-left: 50px;
    }
}

/* 576px - 768px */
@media screen and (max-width: 768px) {
	.container {
		width: 540px;
	}
    .header {
        height: 150vh;
    }
	.desktop {
		width: 100%;
	}
	.input {
		width: 100%;
	}
	.btn {
		margin-left: 50;
	    margin-top: 15px;
	    width: 80%;
	}
    .icon {
        margin-left: 100px;
    }
    .intro {
        margin-bottom: 60px;
    }
}

/* 320px - 576px */
@media screen and (max-width: 576px) {
	.container {
		width: 90%;
	}
    .header {
        height: 850px;
    }
    .offer {
		width: 100%;
	}

    h1 {
        width: auto;
    }
    .intro {
		width: auto;
    }
    .btn {
		margin-left: 30px;
	}
  
    .desktop {
        display: none;
		width: 100%;
	}
    
    .fut {
        margin-top: 80px;
        width: 200px;
    }
    .credits {
        margin-left: 50px
        width 90%;
    }
    .text {
        height: 70px;
        width: 350px;
        padding-left: 25px;
    }
    .icon {
        margin-left: 50px;
    }
}